/* Global */
.bg-dark-blue {
    background-color: #212529;
}
.bg-dark-green {
    background-color: #3B5948;
}
/* Welcome */
.welcome-image {
    width: 100vw;
    max-height: 90vh;
    object-fit: cover;
    filter: contrast(180%);
    box-shadow: inset 0 0 10px 10px #212529;
}
#welcome {
    position: relative;
}
#welcome .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
    margin: 120px 120px 120px 120px;
}
#welcome .overlay .container, 
#welcome .overlay .row {
    height: 100%;
}


/* Media Quieries */

@media (max-width: 600px) {
    #welcome .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        z-index: 1;
        font-size: xx-small;
        margin: 0px 0px 0px 0px;
    }
}


/* Animations */

